#contact {
    max-width: 1366px;
    background-image: url(../assets/images/Background_Contacts.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}