* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--font-asap);

    /* CONFIG FONTES */
    --font-asap: "Asap", sans-serif;
    --font-inconsolata: "Inconsolata", monospace;
    --font-maven: "Maven Pro", sans-serif;

    --text-asap-lg: 700 56px/120% var(--font-asap);
    --text-asap-md: 700 24px/120% var(--font-asap);
    --text-asap-sm: 700 16px/120% var(--font-asap);

    --subtitle: 20px/120% var(--font-inconsolata);

    --text-maven-md: 16px/140% var(--font-maven);
    --text-maven-sm: 14px/140% var(--font-maven);

    /* CONFIG CORES */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9; 
}

body {
    color: var(--gray-500);
}

a {
    background-color: var(--gray-300);
    border-radius: 8px;
}

a:hover {
    border: 1.5px solid var(--blue);
}

ul {
    list-style: none;
}

.container {
    background-color: var(--gray-200);
}