#services {
    background-color: var(--gray-100);
    padding-block: 88px 120px;
    gap: 56px;

    header {
        max-width: 355px;
        margin-inline: auto;
        text-align: center;

        h1 {
            padding-bottom: 10px;
        }
    }

    div {
        max-width: 888px;
        margin-inline: auto;
        gap: 24px;

        figure {
            padding: 20px;
            border: 1px solid var(--gray-200);
            border-radius: 12px;
            gap: 20px;

            img {
                max-width: 48px;
                object-fit: cover;
            }

            h3 {
                padding-bottom: 10px;
            }
        }
    }
}