/* CORES */
.red {
    color: var(--red);
}

.purple {
    color: var(--purple);
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.gray-400 {
    color: var(--gray-400);
}

.gray-500 {
    color: var(--gray-500);
}

.gray-600 {
    color: var(--gray-600);
}

/* FONTES */
.subtitle {
    font: var(--subtitle);
}

.text-asap-lg {
    font: var(--text-asap-lg);
}

.text-asap-md {
    font: var(--text-asap-md);
}

.text-asap-sm {
    font: var(--text-asap-sm);
}

.text-maven-md {
    font: var(--text-maven-md);
}

.text-maven-sm {
    font: var(--text-maven-sm);
}

/* FLEX */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

/* GRID */

.grid {
    display: grid;
}

/* EFEITO IMAGEM BLOQUEADA */
.img-block {
    filter: grayscale(100%) brightness(60%);
    opacity: 0.7;
    pointer-events: none; /* impede interação */
    transition: filter 0.3s ease, opacity 0.3s ease;
}