/* CORES */
.red {
    color: var(--red);
}

.purple {
    color: var(--purple);
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.gray-400 {
    color: var(--gray-400);
}

.gray-500 {
    color: var(--gray-500);
}

.gray-600 {
    color: var(--gray-600);
}

/* FONTES */
.subtitle {
    font: var(--subtitle);
}

.text-asap-lg {
    font: var(--text-asap-lg);
}

.text-maven-sm {
    font: var(--text-maven-sm);
}

/* FLEX */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}